<nav class="flex items-center justify-between flex-wrap py-12 lg:py-24 max-w-2xl mx-auto">
    <div>
        <a href="mailto:mars@marissaepstein.com" class="items-center text-sm font-semibold text-black hover:text-teal mr-8">mars@marissaepstein.com</a>
        <a href="https://www.linkedin.com/in/marsepstein/" class="items-center text-sm font-semibold text-black hover:text-teal mr-8">LinkedIn</a>
        <a href="https://bsky.app/profile/marstoyship.bsky.social" class="items-center text-sm font-semibold text-black hover:text-teal mr-8">BlueSky</a>
        <a href="https://dribbble.com/marstoyship" class="items-center text-sm font-semibold text-black hover:text-teal mr-8">Dribbble</a>
        <a href="https://www.instagram.com/marstoyship/" class="items-center text-sm font-semibold text-black hover:text-teal mr-8">Instagram</a>
        <div class="text-sm mb-6 mt-6">&copy; {{ now format="Y" }} {{ settings:site_name }}</div>
    </div>
</nav>
<!--
<nav class="flex items-center justify-between flex-wrap py-12 lg:py-24 max-w-2xl mx-auto">
    <div>
        {{ nav:footer_navigation }}
            <a href="{{ url }}" class="items-center text-sm font-semibold text-black hover:text-teal mr-8">{{ title }}</a>
        {{ /nav:footer_navigation }}
        <div class="text-sm mb-6 mt-6">&copy; {{ now format="Y" }} {{ settings:site_name }}</div>
    </div>
    <div class="flex items-center">
        {{ settings:social }}
            <a href="{{ url }}" class="ml-4 " aria-label="{{ name }}" rel="noopener">
                {{ svg :src="icon" class="h-6 w-6 hover:text-teal" }}
            </a>
        {{ /settings:social }}
    </div>
</nav>
-->
