<div class="max-w-2xl mx-auto relative mt-16">
    <article class="content pt-32">
        <h1>{{ title }}</h1>
        <p class="mb-20 text-lg text-black">{{ subtitle }}</p>
        {{ content }}
    </article>
</div>

<div class="max-w-2xl mx-auto mb-32">
    {{ collection:articles paginate="7" as="articles" }}
        {{ articles }}
            <div class="mb-16">
                <h2 class="mb-4">
                    <a href="{{ url }}" class="text-3xl hover:text-black tracking-tight leading-tight font-bold">
                        {{ title | widont }}
                    </a>
                </h2>
                <p class="text-gray-600">
                    <span class="text-gray-600 text-sm uppercase font-semibold">{{ date }}</span> 
                      •  <span class="text-teal-light text-sm uppercase font-semibold">{{ topics }}
                    <a href="{{ url }}" class="text-teal-light text-sm uppercase font-semibold hover:text-black">{{ title }}</a>
                    {{ /topics }}</span> &mdash;
                    {{ excerpt | widont ?? content | strip_tags | safe_truncate(150, '...') }}
                    
                </p>
            </div>
        {{ /articles }}


        {{ paginate }}
        {{ if prev_page || next_page }}
        <div class="flex max-w-2xl justify-between text-xl -mx-16 pt-16 font-semibold ">
            <a href="{{ prev_page }}" class="pagination-link {{ ! prev_page ?= 'opacity-0' }}">
                &larr; Previous
            </a>
            <a href="{{ next_page }}" class="pagination-link {{ ! next_page ?= 'opacity-0' }}">
                Next &rarr;
            </a>
        </div>
        {{ /if }}
        {{ /paginate }}        
    {{ /collection:articles }}
</div>
